
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


header{
    padding-top:16px ;
    
}

nav{
    /* width: 1%; */
    /* max-width: 1600px; */
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.img{
    margin-left:120px ;
}
.li{
    list-style-type: none;
    display: flex;
    gap: 32px ;
    font-size: 16px;
}

.btn{
    margin-right:120px ;
    padding: 12.5px 16px ;
    color:#FFFFFF;
    background-color:#469165 ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
#full{
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size:cover ;
}
.heading-section{
    padding: 130px 120px 179.5px 120px ;
    height: 700px;
    text-align: center;
    background-repeat: no-repeat;
    background-position:top;
}
.btnn{
    border-radius : 1000px;
    padding: 8px 12px 8px  34px;
    color: #276941;
    font-size: 16px;
    font-weight: 550;
    border: none;
    cursor: pointer;
}
.big{
    margin-top: 16px;
}
.big, .white{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 72px;
}
.green{
    color:#34ad65 ;
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 10px;
    
}

.simple{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    

}
.big-2{
    margin-top: 27px;
}
.btn1{
    padding: 12.5px 16px ;
    color:#FFFFFF;
    background-color:#469165 ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 10px;

}
.btn-1{
    padding: 11px 16px 11px 46px ;
    border: 2px solid #FFFFFF;
    background:transparent;
    color:#FFFFFF ;
    border-radius: 5px;
    cursor: pointer;
}

.notes{
    width: 1360;
    height: 116px;
    padding: 0 auto;
    text-align: center;
}
.notes-1{
    font-weight:bolder;
    font-size: 31px;
    color: #001931;
    margin-top: 50px;
}
.p{
    font-size: 12px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}
.card{
   
    display: flex;
    gap: 24px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    
}
.card-1 img{
   
    padding: 15px 16px;
    border-radius:70px ;
    background-color:#F95555 ;
}
.card-1{
    padding: 70px;
    width: 322px;
    height: 300px;
    /* border: 2px solid rgb(234, 11, 11); */
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.099);
}
.h3{
    font: weight 800px;;
    font-size: 24px;
    color: #001931;
}
.p{
    color:#627382 ;
    font-weight: 500;
    line-height: 20px;
    margin-top: 16px;
    /* width: 274px; */
}
#meto{
    /* width: 1600px; */
    /* height: 840px; */
}
.me{
    padding: 120px;
    display: flex;
    
    /* text-align: center; */
}
.me-2{
    padding: 102px 0 102px 60px;
    width: 700px;
    height: 396px;
}

.me-3{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#30B868 ;
}
.me-4{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color:#001931 ;
    margin-top: 16px;
    margin-bottom: 16px;
}
.me-5{
    color:#627382 ;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 40px;
}
.kiso{
    display: flex;
    gap: 6px;
    line-height: 20px;
}
.kiso-1{
    line-height: 50px;
}
.me-6{
    color:#001931 ;
    font-weight: 650;
    line-height: 40px;
    font-size: 16px;
}
.q{
    background-color:#F7F6F2 ;
    text-align: center;
    width: 1360px;
    height: 384px;
    margin: 0 auto 120px;
    border-radius: 15px;
}
.q-1{
    max-width: 1280px;
    padding-top: 80px;
}

.q-1 h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 16px;
    color: #001931;
}
.q-1, .q-2 p{
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.q-2 button{
    padding: 16.5px 46px 16.5px 16.5px;
    color:#FFFFFF;
    background-color:#469165 ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
}
.end{
    display: flex;
    gap: 1001px;
    justify-content: center;
    background-color:#001931 ;
    height: 250px;
    padding-top: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    padding-left: 120px;
}
.end-2 a img{
    height: 19px;
    width: 20px;
    padding: 4.12px 4.13px 4.25px ;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 16px;
}
.end-2 p{
    color:#FFFFFF ;
    font-weight: 500;
    font-size: 20px;
    margin-bottom:16px ;
}
.copy{
    background-color: #001931;
    padding: 110px 120px 30px 120px;
}
.copy hr{
    margin-bottom:30px ;
    color:#E5E7EB;
}
.copy p{
    width: 1360px;
    text-align: center;
    margin: 0 auto;
    color: #FAFAFA;
    font-weight: 400;

}